# Dependencies
/vendor/
/node_modules/
/composer.lock
/package-lock.json
/npm-debug.log
/build/
/dist/

# GL PHPUnit Testing Framework
/tests/vendor/
/tests/composer.*
!/tests/gl-phpunit-test-framework/composer.json  # Keep framework's composer.json
/tests/wp-tests-config.php
/tests/bootstrap/
/tests/config/
/tests/bin/
/tests/.env*

# My dirty shortcut for updating the testing framework to this plugin
# as I develop both
update-phpunit-framework.sh

# Ignore everything in the framework except specific files
/tests/gl-phpunit-test-framework/**/*
!/tests/gl-phpunit-test-framework/.gitmodules
!/tests/gl-phpunit-test-framework/composer.json

# Coverage and build artifacts
/coverage/
/logs/
*.log
*.cache
*.tmp
*.bak
*.swp
*.swo
*.orig
*.iml
changes.diff

# IDEs and editors
.idea/
.vscode/
*.code-workspace
*.sublime-*

# System files
.DS_Store
Thumbs.db

# WordPress test environment
/tmp/
/wordpress/
/wp-content/
/tests/wp-tests-config.php

# PHP tools
/.phpcs.cache
/phpcs.xml
/phpstan.neon
/phpstan-baseline.neon

# Local environment files
.env
.env.*
!/.env.example
!/tests/.env.example
**/php.ini
