<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="../bootstrap/bootstrap.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         executionOrder="random"
         failOnWarning="true"
         failOnRisky="true"
         failOnEmptyTestSuite="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         verbose="true">
    <testsuites>
        <testsuite name="integration">
            <directory suffix=".php">../Integration</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">../src</directory>
        </include>
        <exclude>
            <directory>../vendor</directory>
            <directory>../templates</directory>
        </exclude>
        <report>
            <clover outputFile="build/logs/clover-integration.xml"/>
            <html outputDirectory="build/coverage-integration"/>
            <text outputFile="build/coverage-integration.txt"/>
        </report>
    </coverage>

    <php>
        <env name="PHPUNIT_BOOTSTRAP_TYPE" value="integration"/>
        <ini name="display_errors" value="On"/>
        <ini name="display_startup_errors" value="On"/>
        <ini name="error_reporting" value="E_ALL"/>
        <ini name="memory_limit" value="512M"/>

        <!-- WordPress test environment variables -->
        <env name="WP_TESTS_DB_NAME" value="wordpress_test"/>
        <env name="WP_TESTS_DB_USER" value="root"/>
        <env name="WP_TESTS_DB_PASSWORD" value=""/>
        <env name="WP_TESTS_DB_HOST" value="localhost"/>
        <env name="WP_TESTS_DOMAIN" value="example.org"/>
        <env name="WP_TESTS_EMAIL" value="admin@example.org"/>
        <env name="WP_TESTS_TITLE" value="Test Blog"/>
        <env name="WP_TESTS_NETWORK_TITLE" value="Test Network"/>
        <env name="WP_TESTS_SUBDOMAIN_INSTALL" value="1"/>
    </php>
</phpunit>
