<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="../tests/bootstrap/bootstrap-integration.php"
         colors="true"
         verbose="true"
         stopOnFailure="false"
         failOnWarning="true"
         failOnRisky="true"
         >
    <php>
        <env name="WP_TESTS_MULTISITE" value="1"/>
    </php>
    <testsuites>
        <testsuite name="Integration Multisite">
            <directory>../tests/integration</directory>
        </testsuite>
    </testsuites>
</phpunit>
