<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="../bootstrap/bootstrap.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         executionOrder="random"
         failOnWarning="true"
         failOnRisky="true"
         failOnEmptyTestSuite="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         verbose="true">
    <testsuites>
        <testsuite name="wp-mock">
            <directory suffix=".php">../WP_Mock</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">../src</directory>
        </include>
        <exclude>
            <directory>../vendor</directory>
            <directory>../templates</directory>
        </exclude>
        <report>
            <clover outputFile="build/logs/clover-wp-mock.xml"/>
            <html outputDirectory="build/coverage-wp-mock"/>
            <text outputFile="build/coverage-wp-mock.txt"/>
        </report>
    </coverage>

    <php>
        <env name="PHPUNIT_BOOTSTRAP_TYPE" value="wp-mock"/>
        <ini name="display_errors" value="On"/>
        <ini name="display_startup_errors" value="On"/>
        <ini name="error_reporting" value="E_ALL"/>
        <ini name="memory_limit" value="512M"/>
    </php>
</phpunit>
